.about-content {
    display: flex;
    align-items: center;
  }
  
  .about-image {
    flex: 0 0 auto; /* disable flex grow and shrink */
    margin-right: 20px;
    height: 390px;
    width: 600px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: black;
  }
  
  .about-text {
    flex: 1 1 auto; /* allow flex grow and shrink */
    margin-left: 80px;
    margin-right: 100px;
  }
  .about h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .paragh {
    font-size: 21px;
    margin-left: 60px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .button1, .button2 {
    background-color: rgb(206, 71, 206);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgb(238, 232, 237);
    border: none;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .button1, .button2 {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  .button1:hover, .button2:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 8px pink;
  }
  
  .button1:active, .button2:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px pink;
  }
  