.about-content {
    display: flex;
    align-items: center;
  }
  
  .about-image {
    flex: 0 0 auto; /* disable flex grow and shrink */
    margin-right: 20px;
    height: 390px;
    width: 600px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: black;
  }
  
  .about-text {
    flex: 1 1 auto; /* allow flex grow and shrink */
    margin-left: 80px;
    margin-right: 100px;
  }
  .about h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .paragh {
    font-size: 21px;
    margin-left: 60px;
  }
