.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .section-image {
    flex: 1;
    max-width: 50%;
  }
  
  .section-image img {
    width: 100%;
    height: 450px;
    border-radius: 20px;

  }
  
  .section-text {
    flex: 1;
    max-width: 50%;
    padding-right: 50px;
    text-align: right;
  }
  
  .section-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .section-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 25px;
  }
  